<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Add new ALC</title>
</head>
<body>
    <h1 style="align-items: center;">Add new acl data!</h1>
    <hr>
    <form method="post">
        New drink Name: <input type="text" name="name" placeholder="name" required><br>
        Img url" <input type="text" name="img_url" placeholder="img_url" required><br>
        Drink voltage: <input type="number" name="degree" step=".01" placeholder="voltage" required><br>
        Dring price: <input type="number" name="price" step=".01" placeholder="price" required><br>
        Discount: <input type="checkbox" name="discount" ><br>

        <button type="submit">Create drink</button>

    </form>
</body>
</html>