<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{oneDrink[1]}}</title>
</head>
<body>
    <h1 align="center">{{oneDrink[1]}}</h1>
    <hr>
    <table align="center" width="800px" border="1px" cellspacing="0px">
       <tr>
           <td>Grādi: {{oneDrink[3]}}<br>Cena:{{oneDrink[4]}}<br>Quantity<input><button>Add to cart</button></td>
           <td>  </td>
           <td><img width="30%" src="{{oneDrink[2]}}"></td>
           <td></td>
       </tr>

    </table>

</body>
</html>